# Express Backend API Configuration
PORT=4000
NODE_ENV=development
JWT_SECRET=super-secret-saas-jwt-key-2026
JWT_REFRESH_SECRET=super-secret-saas-refresh-jwt-key-2026

# Database Connection (PostgreSQL)
DATABASE_URL=postgresql://admin:admin@localhost:5432/restaurants

# SMTP Mail Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=arhamsaifofficial@gmail.com
SMTP_PASS=rqki yjfw gqno vkpa
SMTP_FROM="Restaurant SaaS Security <arhamsaifofficial@gmail.com>"

# Client App URLs for CORS & Onboarding Credential Emails
ORG_ADMIN_URL=https://restuarants-org-admin.vercel.app
SUPER_ADMIN_URL=https://restuarants-super-admin.vercel.app
